<h1>Hola dime a quien saludar</h>

<form action="/" method="post">
  <input type="text" name="name">
  <input type="submit">
</form>

<!-- <h1>Hola</h1>
<% for @i in 1..50 %>
   <% if (@i.to_i % 2)==0 %>
   <p><%= @i %> Soy par! </p>
   	<% else %>
   	<p><%= @i %> Soy impar! </p>
   <% end %>
<% end %> -->


<!-- <h1>Mi cuenta es: <%= @entrada %> </h1>

  <form action="/sum" method="get">
    <input type="hidden" value="<%= @entrada.to_i + 1 %>" name="entrada">
    <input type="submit" value="Suma!!">
  </form> -->
  

<!-- <h1>Abuela Sorda</h1>

<form action="/" method="post">
  <label for="name">Di algo Abuela</label><br>
  <input type="text" name="entrada">
  <input type="submit" name="submit" value="Dilo!">
</form> -->
